<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Six Manantiales</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    
    <link href="lib/extjs/resources/css/ext-all-neptune.css" type="text/css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
	
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
		
	

	
    <style type="text/css">
        .upload-icon {
            background: url('lib/extjs/resources/image_add.png') no-repeat 0 0 !important;
        }	
        #fi-button-msg {
            border: 2px solid #ccc;
            padding: 5px 10px;
            background: #eee;
            margin: 5px;
            float: left;
        }
        .x-debug .x-form-file-wrap .x-form-file-input {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6);
            opacity: 0.6;
            background-color: gray;
        }
    </style>
    

    
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="header"></div>

<div class="container">
    <div class="row">
        <div id="content" class="span12>">
			

        </div>
    </div>

    <footer class="footer">
        <p class="pull-right"><a href="#">Inicio</a></p>
        
        
        
        <p> Six Manantiales QRO, MX - Plataforma Web para publicar promocionales mobile.  <!--button class="btn btn-default btn-lg" type="button"><span class="icon-qrcode"></span>Six Mobile</button--> 
		</p>
    </footer>

</div>
<script src="lib/jquery-1.7.2.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="lib/bootstrap.js"></script>

<script src="js/utils.js"></script>
<script src="js/models/model-rest-jsonp.js"></script>
<script src="js/views/paginator.js"></script>
<script src="js/views/header.js"></script>

<script src="js/views/promoListItemView.js"></script>
<script src="js/views/promoView.js"></script>
<script src="js/views/notificationsView.js"></script>
<script src="js/views/editPromoView.js"></script>
<script src="js/views/about.js"></script>
<script src="js/main.js"></script>
<script src="lib/extjs/ext-all.js"></script>


</body> 
</html>
